In [3]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score, mean_squared_error,mean_absolute_percentage_error,r2_score
import tensorflow as tf
import talib
from tensorflow import keras
from sklearn.pipeline import make_pipeline
from tensorflow.keras import regularizers

2022-04-08 23:48:40.872609: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-04-08 23:48:40.872945: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [5]:
data=yf.download('0005.hk','2020-01-01','2022-01-01')
data.drop('Volume',1,inplace=True)
data

[*********************100%***********************]  1 of 1 completed

/tmp/ipykernel_231/238700504.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data.drop('Volume',1,inplace=True)

                 Open       High        Low      Close  Adj Close
Date
2020-01-02  60.849998  60.950001  60.599998  60.900002  58.232323
2020-01-03  60.900002  61.200001  60.250000  60.400002  57.754223
2020-01-06  60.099998  60.400002  59.799999  60.000000  57.371746
2020-01-07  60.200001  60.299999  59.799999  59.900002  57.276131
2020-01-08  59.299999  59.400002  58.849998  59.299999  56.702412
...               ...        ...        ...        ...        ...
2021-12-24  46.450001  46.450001  46.450001  46.450001  46.280235
2021-12-28  46.500000  46.750000  46.299999  46.599998  46.429684
2021-12-29  46.799999  46.849998  46.500000  46.849998  46.678768
2021-12-30  46.900002  47.049999  46.750000  46.900002  46.728588
2021-12-31  46.950001  47.150002  46.700001  46.900002  46.728588

[495 rows x 5 columns]